@font-face{
    font-family: "OpenSans";
    src: local("OpenSans")
}
.textArea{
    display: flex;
    flex-direction: row;
    font-family: Arial;
}
.textArea p{
    margin-left: 2.5%;
    margin-right: 10%
}
.results{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.results select{
    width: 7%;
    padding: 7px;
    border-color: darkgray;
}
.results input{
    width: 12%;
    padding: 7px;
    font-size: 15px;
}
.convert_resultKZT {
    padding: 7px;
    height: 6%;
    width: 17%;
    background-color: rgb(227, 227, 227);
    border: 1px solid darkgrey;
}
.convert_resultUSD {
    padding: 7px;
    height:  6%;
    width: 17%;
    background-color: rgb(227, 227, 227);
    border: 1px solid darkgrey;
}
.convert_resultEUR {
    padding: 7px;
    height: 6%;
    width: 17%;
    background-color: rgb(227, 227, 227);
    border: 1px solid darkgrey;
}